#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

{% if docker_compose_config.version is defined %}
version: "{{ docker_compose_config.version }}"
{% endif %}

{% for key, val in docker_compose_config.items() %}
  {% if (key == 'services') %}
{{ key }}:
    {% for container in val %}
  {{ container.name }}:
{{ container.options | to_nice_yaml | indent(4, true) }}
    {% endfor %}
  {% elif (key != 'version') %}
{{ key }}:
{{ val | to_nice_yaml | indent(2, true) }}
  {% endif %}
{% endfor %}
